/* cover page styles */
.cover-image{
width: 1320px;
height: 600px;
position: relative;
}
.cover-image-text{
    position: absolute;
    top: 5%;
    padding: 10px 10px 10px 450px;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    line-height: 0%;
}

.photo{
    width: 803px;
    height: 500px;
    display: block;
    margin: auto;
}
.text-color{
    color: red;
}
.photo-description{
    font-size: 30px;
}

/* Style for the figure containing the image and caption */
figure {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
}

/* Style for the image */
figure img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline styles */
}

/* Style for the caption */
figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

/* Style for the caption text */
figcaption h6,
figcaption h2,
figcaption h3 {
    margin: 0;
}

/* Additional styles for the text in the caption */
figcaption h6 {
    font-size: 14px;
}

figcaption h2 {
    font-size: 24px;
}

figcaption h3 {
    font-size: 18px;
}

.join-tags{
    background-color: darkorange;
    font-size: 20px;
}
.main-page-style{
    line-height: 10px;
    text-align: center;
    width: 1320px 482px;
    background-color: bisque;
    background-size: 90;
    margin-top: 60px;
    margin-bottom: 60px;
}
.image-cover{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.image-styles{
    
}
.image-description{
    text-align: center;
}
.image-related-tag{
    text-align: end;
    justify-content: baseline;

}
.icon-description{
    text-align: center;
    font: 10px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.icon-styles{
    font: 100px;
    text-align: center;
}

.subscribe-details{
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}
.subscribe-icon{
    display: block;
    margin: auto;
    margin-top: 200px;
}
.subscribe-description{
    padding: 30px 30px;
    background-color: antiquewhite;
    box-sizing: border-box;
    margin-top: 10px;
}
.address-text{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: 30px;
}
.feedback{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-size: 30px;
}
.social-media{
    display: flex;
    justify-content: center;
}
.footer-details{
    background-color: black;
    padding: 30px 30px;
}
.primary-text{
    color: red;
}
.button-color{
    color: aliceblue;
    background-color: red;
    font-size: 20px;

}